export(getcoef)
export(getimp)
export(getrSq)
export(runLM)
export(runLMImp)
exportClasses(LMOutput)
exportClasses(LMOutputImp)
exportMethods(getcoef)
exportMethods(getimp)
exportMethods(getrSq)
exportMethods(initialize)
exportMethods(plot)
exportMethods(print)
exportMethods(runLM)
exportMethods(runLMImp)
exportMethods(show)
